---

- name: Ensure CA directory exists on clients
  file:
    path: "{{ ca_client_ca_dir }}"
    owner: "{{ ca_client_ca_dir_owner }}"
    group: "{{ ca_client_ca_dir_group }}"
    mode: "{{ ca_client_ca_dir_mode }}"
    state: directory

- name: Ensure CA directory exists
  file:
    path: "{{ ca_ca_dir }}"
    owner: root
    group: root
    mode: 0700
    state: directory
  delegate_to: "{{ ca_ca_host }}"

- name: Ensure local directory on Ansible host exists
  file:
    path: "{{ ca_localdir }}"
    state: directory
    mode: 0700
  become: "{{ ca_local_become }}"
  delegate_to: localhost

- name: Install openssl
  package:
    name: openssl
  when: ca_manage_openssl | bool

- name: Set up ca
  import_tasks: ca.yml
  when: ca_ca_host == inventory_hostname

- name: Set temporary variable ca_san to hostname, FQDN, and inventory hostname
  set_fact:
    ca_san: >-
      "DNS:{{ ansible_hostname }},
      DNS:{{ ansible_fqdn }},
      DNS:{{ inventory_hostname }}"

- name: Add IP addresses and loopback address for etcd >= 3.2.0 to ca_san
  set_fact:
    ca_san: >-
      {{ ca_san }},
      IP:127.0.0.1,
      {%- for host in vars['play_hosts'] -%}
        IP:{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
        {%- if not loop.last -%}
          ,
        {%- endif -%}
      {%- endfor -%}
  when: ca_etcd | bool

- name: Combine ca_san and ca_san_custom if defined
  set_fact:
    ca_san: "{{ ca_san + "," + ca_san_custom }}"
  when: ca_san_custom is defined

### client certificate ###

- name: Create key
  openssl_privatekey:
    path: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}.key"
    passphrase: "{{ ca_keypassphrase | default(omit) }}"
    cipher: "{{ ca_openssl_cipher | default(omit) }}"
    owner: "{{ ca_client_ca_dir_owner }}"
    group: "{{ ca_client_ca_dir_group }}"
    mode: "{{ ca_client_ca_dir_mode }}"
  register: key

- name: Create CSR
  openssl_csr:
    path: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}.csr"
    privatekey_path: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}.key"
    privatekey_passphrase: "{{ ca_keypassphrase | default(omit) }}"
    country_name: "{{ ca_country }}"
    organization_name: "{{ ca_organization }}"
    common_name: "{{ inventory_hostname }}"
    subject_alt_name: "{{ ca_san | regex_replace(' ', '') }}"
    extended_key_usage: "{{ extended_key_usage | default(omit) }}"

- name: Pull CSR
  fetch:
    src: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}.csr"
    dest: "{{ ca_localdir }}/{{ inventory_hostname }}.csr"
    flat: true

- name: Push CSR to CA host
  copy:
    src: "{{ ca_localdir }}/{{ inventory_hostname }}.csr"
    dest: "{{ ca_ca_dir }}/{{ inventory_hostname }}.csr"
    owner: root
    group: root
    mode: 0600
  delegate_to: "{{ ca_ca_host }}"

- name: Sign CSR with CA key
  openssl_certificate:
    path: "{{ ca_ca_dir }}/{{ inventory_hostname }}.crt"
    csr_path: "{{ ca_ca_dir }}/{{ inventory_hostname }}.csr"
    ownca_path: "{{ ca_ca_dir }}/ca.crt"
    ownca_privatekey_path: "{{ ca_ca_dir }}/ca.key"
    ownca_privatekey_passphrase: "{{ ca_ca_password }}"
    provider: ownca
  delegate_to: "{{ ca_ca_host }}"

- name: Fetch certificate
  fetch:
    src: "{{ ca_ca_dir }}/{{ inventory_hostname }}.crt"
    dest: "{{ ca_localdir }}/{{ inventory_hostname }}.crt"
    flat: true
  delegate_to: "{{ ca_ca_host }}"

- name: Push certificate to client
  copy:
    src: "{{ ca_localdir }}/{{ inventory_hostname }}.crt"
    dest: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}.crt"
    owner:  "{{ ca_client_ca_dir_owner }}"
    group: "{{ ca_client_ca_dir_group }}"
    mode: "{{ ca_client_ca_dir_mode }}"

- name: Fetch CA certificate
  fetch:
    src: "{{ ca_ca_dir }}/ca.crt"
    dest: "{{ ca_localdir }}/ca.crt"
    flat: true
  delegate_to: "{{ ca_ca_host }}"

- name: Push CA certificate to client
  copy:
    src: "{{ ca_localdir }}/ca.crt"
    dest: "{{ ca_client_ca_dir }}/ca.crt"
    owner: "{{ ca_client_ca_dir_owner }}"
    group: "{{ ca_client_ca_dir_group }}"
    mode: "{{ ca_client_ca_dir_mode }}"

### server certificate ###

- name: Create server certificate
  block:

    - name: Create server CSR
      openssl_csr:
        path: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}-server.csr"
        privatekey_path: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}.key"
        privatekey_passphrase: "{{ ca_keypassphrase | default(omit) }}"
        country_name: "{{ ca_country }}"
        organization_name: "{{ ca_organization }}"
        common_name: "{{ inventory_hostname }}"
        subject_alt_name: "{{ ca_san | regex_replace(' ', '') }}"
        extended_key_usage: "{{ extended_key_usage | default(omit) }}"

    - name: Pull server CSR
      fetch:
        src: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}-server.csr"
        dest: "{{ ca_localdir }}/{{ inventory_hostname }}-server.csr"
        flat: true

    - name: Push server CSR to CA host
      copy:
        src: "{{ ca_localdir }}/{{ inventory_hostname }}-server.csr"
        dest: "{{ ca_ca_dir }}/{{ inventory_hostname }}-server.csr"
        owner: root
        group: root
        mode: 0600
      delegate_to: "{{ ca_ca_host }}"

    - name: Sign server CSR with CA key
      openssl_certificate:
        path: "{{ ca_ca_dir }}/{{ inventory_hostname }}-server.crt"
        csr_path: "{{ ca_ca_dir }}/{{ inventory_hostname }}-server.csr"
        ownca_path: "{{ ca_ca_dir }}/ca.crt"
        ownca_privatekey_path: "{{ ca_ca_dir }}/ca.key"
        ownca_privatekey_passphrase: "{{ ca_ca_password }}"
        provider: ownca
      delegate_to: "{{ ca_ca_host }}"

    - name: Fetch server certificate
      fetch:
        src: "{{ ca_ca_dir }}/{{ inventory_hostname }}-server.crt"
        dest: "{{ ca_localdir }}/{{ inventory_hostname }}-server.crt"
        flat: true
      delegate_to: "{{ ca_ca_host }}"

    - name: Push server certificate to client
      copy:
        src: "{{ ca_localdir }}/{{ inventory_hostname }}-server.crt"
        dest: "{{ ca_client_ca_dir }}/{{ inventory_hostname }}-server.crt"
        owner: "{{ ca_client_ca_dir_owner }}"
        group: "{{ ca_client_ca_dir_group }}"
        mode: "{{ ca_client_ca_dir_mode }}"

    - name: Handle Logstash compatible key
      block:

        - name: Check if Logstash key is present
          stat:
            path: "{{ ca_ca_dir }}/{{ inventory_hostname }}-pkcs8.key"
          register: key_stat

        - name: Move old Logstash key if common key was replaced
          command: >
            mv
            {{ ca_ca_dir }}/{{ inventory_hostname }}-pkcs8.key
            {{ ca_ca_dir }}/\
            {{ inventory_hostname }}-pkcs8.key.\
            {{ ansible_date_time.iso8601 }}
          when:
            - key_stat.stat.exists | bool
            - key.changed | bool

        - name: Create Logstash compatible key
          command: >
            openssl pkcs8
            -in {{ ca_ca_dir }}/{{ inventory_hostname }}.key
            -topk8
            -passin pass:{{ ca_keypassphrase | default(omit) }}
            -out {{ ca_ca_dir }}/{{ inventory_hostname }}-pkcs8.key
            -passout pass:{{ ca_keypassphrase | default(omit) }}
          args:
            creates: "{{ ca_ca_dir }}/{{ inventory_hostname }}-pkcs8.key"

        - name: Set permissions on Logstash key
          file:
            path: "{{ ca_ca_dir }}/{{ inventory_hostname }}-pkcs8.key"
            owner: root
            group: root
            mode: 0600

      when: ca_logstash | bool

  when: ca_server_cert | bool
