[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName                     = {{ ca_country }}
stateOrProvinceName             = {{ ca_state }}
localityName                    = {{ ca_locality }}
postalCode                      = {{ ca_postalcode }}
organizationName                = {{ ca_organization }}
organizationalUnitName          = {{ ca_organizationalunit }}
commonName                      = {{ ca_common_name }}
emailAddress                    = {{ ca_email }}

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ ca_altname_1 }}
