[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req_ca
x509_extensions = v3_req_ca
prompt = no

[req_distinguished_name]
{% if ca_country is defined %}
countryName                     = {{ ca_country }}
{% endif %}
{% if ca_state is defined %}
stateOrProvinceName             = {{ ca_state }}
{% endif %}
{% if ca_locality is defined %}
localityName                    = {{ ca_locality }}
{% endif %}
{% if ca_postalcode is defined %}
postalCode                      = {{ ca_postalcode }}
{% endif %}
{% if ca_organization is defined %}
organizationName                = {{ ca_organization }}
{% endif %}
{% if ca_organizationunit is defined %}
organizationalUnitName          = {{ ca_organizationalunit }}
{% endif %}
commonName                      = {{ ca_common_name }}
{% if ca_email is defined %}
emailAddress                    = {{ ca_email }}
{% endif %}

[v3_req_ca]
basicConstraints =  critical, CA:true, pathlen:1
# digitalSignature is needed if CA acts as a OCSP responder
keyUsage = keyCertSign, cRLSign, digitalSignature
# To facilitate certification path construction, this extension MUST
# appear in all conforming CA certificates, that is, all certificates
# including the basic constraints extension
# https://www.rfc-editor.org/rfc/rfc5280#section-4.2.1.2
subjectKeyIdentifier = hash
