---
name: ansible-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.11.1
        with:
          args: "--sarif-file gh-ansible-lint-results.sarif --exclude molecule"

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3.30.5
        with:
          sarif_file: ./gh-ansible-lint-results.sarif
